@import 'bootstrap';

$lightGray: #999;
$white: #fff;
$softGray: #eaeaea;
$darkGray: #222;
$gray: #555;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

li {
  padding-top: 3px;
  font-weight: bold;
  font-size: 1.2em;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.footer {
  ul {
    list-style: none;
    margin-right: 50px;
    li {
      float: left;
      margin-right: 20px; 
      padding-top: 17px;
      font-size: 1.1em;
    }
  }
}

#bottom_hr {
  margin-top: 50px;
  border-color: $softGray;
}

#rails_img {
  height: 50px;
  width: 50px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $lightGray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

.edit_gravatar {
  padding-top: 150px;
}

/* forms */
form {
  margin-top: 45px;
  input, textarea, select, .uneditable-input {
    margin-bottom: 10px;
  }
}

#signup_link {
  margin-top: 15px;
}

.users {
  // float: left;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0px 10px 0;
    border-top: 1px solid $softGray;
    &:last-child {
      border-bottom: 1px solid $softGray;  
    }
  }
}

#show_user_name {
  float: left;
  color: black;
  font-size: 1.8em;
  font-weight: bold;
}

/* microposts */

.microposts {
  margin: 10px 0 0 9%;
  h3 {
    margin-right: 70%;
    font-size: 1.5em;
    font-weight: bold;
  }
  ol {
    list-style: none;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
  }
}

.microposts_home_page {
  margin: 10px 0 0 45%;
  h3 {
    margin-right: 75%;
    font-size: 1.5em;
    font-weight: bold;
  }
  li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.user_info {
  h1 {
    font-size: 2em;
    margin-right: 60%;
    padding: 0;
  }
  li {
    list-style: none;
    font-size: 1em;
  
  }
}

#profile {
  margin-left: 15%;

}

.content {
  display: block;
  font-size: 0.9em;
}

.timestamp {
  color: $lightGray;
  font-size: 0.7em;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}