$lightGray: #999;
$white: #fff;
$softGray: #eaeaea;
$darkGray: #222;
$gray: #555;

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

li {
  padding-top: 3px;
  font-weight: bold;
  font-size: 1.2em;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* footer */

footer {
  border-top: 1px solid $softGray;
  color: $lightGray;
  a {
    color: $gray;
    margin-left: 25px;
    &:hover {
      color: $darkGray;
    }
  }
  ul {
    list-style: none;
    margin-right: 35px;
    li {
      float: left;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 1.1em;
    }
  }
}